* {
    font-family: Lato, sans-serif;
}

.buscar-caja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 40px;
    padding: 10px;
}

.buscar-caja:hover {
    background: aliceblue;
}

.buscar-caja:hover>.buscar-txt {
    width: 240px;
    padding: 0 6px;
}

.buscar-caja:hover>.buscar-btn {
    background: white;
    color: black;
}

.buscar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.4s;
    color: #333;
    cursor: pointer;
}

.buscar-btn>i {
    font-size: 18px;
}

.buscar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #333;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

.list-group-item {
    border-bottom: none;
}

@media screen and (min-width: 992px) {
    .container .searchContainer {
        width: 75%;
    }
    .badge.badge-primary {
        margin-left: 3rem;
    }
    .list-group {
        margin-left: 3rem;
    }
}

@media screen and (min-width: 576px) and (any-hover: none) {
    .buscar-txt {
        width: 240px;
    }
}

@media screen and (max-width: 576px) and (any-hover: none) {
    .buscar-txt {
        width: 150px;
    }
}