@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.navbar .container {
    justify-content: center;
}

.navbar-text {
    color: #fff;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

.selector {
    height: 30px;
}

.selector select {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    padding-left: 40%;
    border: none;
    outline: none;
    appearance: none;
}

.selector option {
    font-weight: bold;
    background: #d3d3d3;
}

#today,
#week {
    color: #fff;
    margin: 50px 10px;
}

.today-condition.col-12 {
    margin-left: 4rem;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

#today img {
    margin: 20px;
    height: 120px;
}

#week>div {
    text-align: center;
}

#week img {
    margin: 20px;
    height: 80px;
}

footer {
    width: 100%;
    padding: 15px 0;
    background-color: rgba(169, 169, 169, 0.3);
    color: #fff;
}